.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #639da4;
}

h1 {
  margin: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 8rem;
  color: #000;
  word-spacing: 3px;
  font-weight: bolder;
}

h2{
  font-size: 30px;
  margin-bottom: 30px;
  color: #000;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
p {
  font-size: 2rem;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
